.header {
  padding: 0.2rem;
  color: #000;
  nav {
    max-width: 42rem;
    margin: 1.5rem auto;
  }
  ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    margin-right: 1rem;
  }
  li:nth-child(2) {
    margin-right: auto;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #0070f3;
  }
  button {
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    border: none;
    background: none;
  }
}
